<!DOCTYPE html>
<html>
  <head>
    <title>search for a book</title>
  </head>
  <body>
    <h1>Listing for a book</h1>

    <form action="/show" >
        <div>
         <label>Author: </label><br>
            {{auths}}
        </div>
        <div>
         <label>Book Name: </label><br>
            {{books}}
        </div>
        <!-- <input type="submit" style="background-color:#477bff;color: white;" value="add" name="add"> -->
        <!-- <input type="submit" style="background-color:#477bff;color: white;" value="search" name="search"> -->
     </form>

  </body>
</html>
