<!DOCTYPE html>
<html>
  <head>
    <title>search for a book</title>
  </head>
  <body>
    <h1>Searching a book</h1>

    <form action="/search" method="POST">
        <p>
         <label>Id: </label><br>
            <input type="text" size="30px" autocomplete="off" placeholder="id"  name="num">
           <br>
        </p>
        <input type="submit" style="background-color:#477bff;color: white;" value="add" name="search">
        <!-- <input type="submit" style="background-color:#477bff;color: white;" value="search" name="search"> -->
     </form>

  </body>
</html>
